<h2>募集一覧</h2>
<div class="contents row">
  <% @posts.each do |post| %>
    <div class="content_post">
      <div class="more">
        <span><%= image_tag 'line_top.png' %></span>
        <ul class="more_list">
          <li>
            <%= link_to '詳細', post_path(post.id), method: :get %>
          </li>
          <% if user_signed_in? && current_user.id == post.user_id %>
            <li>
              <%= link_to '編集', edit_post_path(post.id), method: :get %>
            </li>
            <li>
              <%= link_to '削除', post_path(post.id), method: :delete %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="post-date">
        <%= post.game_day %>
      </div>
      <div class="post-time">
        <%= post.game_time.name %>
      </div>
      <div class="post-detail">
        <%= post.detail %>
      </div>  
      <span class="name">
          <a href="/users/<%= post.user.id %>">
            <span>投稿者</span><%= post.user.nickname %>
          </a>
        </span>
    </div>
  <% end %>
</div>